.mg-admin-table {
    margin: 16px;
    padding: 8px 24px;

    font-family: 'Grand9KPixel', monospace;
    font-size: 14px;
    color: #2a1b08;
    background-color: #827373;

    box-shadow:
        #00000088 -5px -5px 0 inset,
        #ffffff88 5px 5px 0 inset
    ;
}

.mg-admin-table-data {
    margin: 16px 0;
    padding: 12px;

    box-shadow:
        #ffffff88 -3px -3px 0 inset,
        #00000088 3px 3px 0 inset
    ;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mg-admin-table-data p {
    margin: 0;
}

.mg-admin-table-delete {
    border-color: red;
    color: #640000;

    box-shadow: red 0 0 16px;

    &:hover {
        background-color: #500e0888;
        color: #ffffff;
        animation: delete 0.3s infinite linear;
    }
}
.mg-admin-table-ban {
    border-color: #ad6e2f;
    color: #201e18;

    box-shadow: #ffa200 0 0 16px;

    margin: 0 8px;
    width: 120px;

    &:hover {
        background-color: #8a684588;
        color: #ffffff;
        animation: float 2s infinite linear;
    }
}
.mg-admin-table-unban {
    border-color: #8bad2f;
    color: #201e18;

    box-shadow: #a9ee28 0 0 16px;

    margin: 0 8px;
    width: 120px;

    &:hover {
        background-color: #818a4588;
        color: #ffffff;
        animation: float 2s infinite linear;
    }
}

@keyframes float {
    from { 
        translate: 0 0px; 
    }
    25% { 
        translate: 0 3px; 
    }
    40% {
        rotate: z 2deg;
    }
    75%  { 
        translate: 0 -3px; 
        rotate: z -1deg;
    }
    80%  { 
        rotate: z -2deg;
    }
    to   { 
        translate: 0 0px; 
    }   
}
@keyframes delete {
    from {
        translate: 0px 0px;
        background-color: #500e0888;
    }
    12.5% {
        translate: 2px 1px;
    }
    25% {
        translate: -1px -2px;
    }
    27.5% {
        translate: 3px -1px;
    }
    50% {
        translate: 2px 1px;
        background-color: #500e08aa;
    }
    65.5% {
        translate: -1px -3px;
    }
    75% {
        translate: 1px -2px;
    }
    87.5% {
        translate: -1px 2px;
    }
    to {
        translate: 0px 0px;
        background-color: #500e0888;
    }
}