.mg-gameplay {
    background-size: cover;
    overflow: hidden;

    width: 100%;
    height: 100lvh;
    position: relative;
}
.mg-gameplay-easy {
    background-image: var(--mg-background-easy);
}
.mg-gameplay-moderate {
    background-image: var(--mg-background-moderate);
}
.mg-gameplay-hard {
    background-image: var(--mg-background-hard);
}

.mg-gameplay-equation-door {
    position: absolute;
    pointer-events: none;
    
    margin: 0;
    padding: 0;

    /* Should be dynamic */
    left: var(--mg-equation-x-pos);
    top: var(--mg-equation-y-pos);

    perspective: 300px;
}
.mg-gameplay-equation-door > p {
    /* should be dynamic */
    font-size: var(--mg-equation-font-size);

    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: var(--mg-equation-y-padding) var(--mg-equation-x-padding);

    width: var(--mg-equation-x-size);
    line-height: var(--mg-equation-y-size);
    text-align: center;

    transform-style: preserve-3d;
    transform: rotateY(-5deg) rotateZ(1.5deg);
}

.mg-gameplay-equation {
    font-family: 'PixelText', serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 400;
}
.mg-gameplay-input {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    
    font-family: 'Press Start 2P', monospace;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 400;

    margin-bottom: 16px;

    >p {
        margin: 0;
        font-size: 16px;
    }

    >input {
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        font-size: 16px
    }
}